/* 1/3 metrics */
div.css-1r6slb0.e1tzin5v2 {
  background-color: #ffffff;
  opacity: 0.95;
  padding: 5% 5% 5% 5%;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* 2 cards equally; 2 metrics; 4 colums */
div.css-115gedg.e1tzin5v2 {
  background-color: #ffffff;
  opacity: 0.9;
  #border: 2px solid #CCCCCC;
  padding: 5% 5% 5% 5%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* 2 columns equally */
div.css-keje6w.e1tzin5v2{
  background-color: #ffffff;
  opacity: 0.95;
  #border: 2px solid #CCCCCC;
  padding: 5% 5% 5% 5%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* 4 columns equally */
div.css-13izhro.e1tzin5v0{
  background-color: #ffffff;
  opacity: 0.95;
  #border: 2px solid #CCCCCC;
  padding: 10% 10% 10% 10%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* div.css-1r6slb0.e1tzin5v2:nth-child(1){
  background-color: #FF914D;
}
div.css-1r6slb0.e1tzin5v2:nth-child(2){
  background-color: #4284CC;
}
div.css-1r6slb0.e1tzin5v2:nth-child(3){
  background-color: #151515;
} */

/* div.css-1r6slb0.e1tzin5v2:nth-child(3){
  background-color: pink;
} */

/* Containers */
[data-testid="stVerticalBlock"] > [style*="flex-direction: column;"] > [data-testid="stVerticalBlock"] {
  background-color: #ffffff;
  opacity: 0.95;
  padding: 20% 20% 20% 20%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
